.a11y-hidden {
	clip: rect(1px, 1px, 1px, 1px);
	clip-path: inset(50%);
	width: 1px;
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
}

p, h1, h2, button {
	font-family: 'Noto Sans KR', sans-serif;
}

body {
	background-color: #EAE8FE;
}

/* Machine Part */
.machine-wrap {
	background-color: white;
}

.machine-item {
	background-color: white;
	position: relative;
}

.machine-item:active {
	box-shadow: 0 0 0 3px #6327FE;
}

.disabled {
	width: inherit;
	height: inherit;
	background-color: black;
	position: absolute;
	top: 0;
	left: 0;
	border-radius: inherit;
	opacity: 80%;
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;
}

.disabled > div, .disabled > div > div {
	width: 45px;
	height: 21px;
	font-size: 14px;
	font-weight: 900;
	display: flex;
	justify-content: center;
	align-items: center;
	border: 2px solid white;
}

.disabled > div {
	height: 27px;
	width: 51px;
	transform: rotate(-23deg);
}

.machine-item:disabled {
	color: black;
}

.currentMoney {
	font-size: 14px;
	font-weight: 500;
	background-color: #EAE8FE;
	border-radius: 5px;
}

.input-btn {
	background-color: white;
	font-size: 13px;
	font-weight: 500;
	border: none;
	border-radius: 5px;
	box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
}

.input-money {
	border: 1px solid #BDBDBD;
	border-radius: 5px;
	font-size: 13px;
	color: black;
	font-weight: 500;
	padding-left: 6px;
}

.input-money::placeholder {
	color: #BDBDBD;
}

.input-items.list {
	background-color: #EAE8FE;
	border-radius: 5px;
}

.input-btn.get {
	font-weight: 700;
	font-size: 13px;
	color: white;
	background-color: #6327FE;
}

/* Money Part */
.money {
	background-color: white;
}

.pocketMoney {
	background-color: #EAE8FE;
	border-radius: 5px;
}

/* Inventory Part */
.inventory {
	background-color: white;
}

.inventory-title {
	font-size: 14px;
	font-weight: 700;
}

.inventory-items {
	background-color: #EAE8FE;
	border-radius: 8px;
}

.inventory-price {
	font-size: 12px;
}

/* item list */
.list {
	overflow-y: auto;
	border: 1px solid #BDBDBD;
}

.list::-webkit-scrollbar {
	width: 7px;
}

.list::-webkit-scrollbar-thumb {
	border-radius: 20px;
	background-clip: padding-box;
	border: 2px solid transparent;
	background-color: white;
}

.list::-webkit-scrollbar-track {
	background-color: #EAE8FE;
}

.list .item {
	background-color: white;
	border-radius: 5px;
	min-height: 46px;
}

.item .name {
	font-size: 9px;
	text-align: left;
}

.item .count {
	font-size: 14px;
	font-weight: 500;
	border: 1px solid #BDBDBD;
	border-radius: 5px;
}