/* Layout */
.a11y-hidden {
	clip: rect(1px, 1px, 1px, 1px);
	clip-path: inset(50%);
	width: 1px;
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
}

body {
	background-color: gainsboro;
}

/* Machine Part */
.machine-wrap {
	background-color: white;
	box-shadow: inset 0 0 30px indianred;
}

.item-wrap {
	box-shadow: inset 0 0 30px royalblue;
}

.item-wrap .item {
	box-shadow: inset 0 0 20px palegreen;
}

.input-wrap {
	box-shadow: inset 0 0 20px brown;
}

.currentMoney {
	box-shadow: inset 0 0 10px red;
}

.input-btn.return {
}

.input-money {
}

.input-btn.submit {
}

.input-items.list {
	display: block;
	box-shadow: inset 0 0 20px indigo;
}

.input-btn.get {
}

/* Money Part */
.money {
	background-color: white;
	box-shadow: inset 0 0 20px indigo;
}

.pocketMoney {
	box-shadow: inset 0 0 10px red;
}

/* Inventory Part */
.inventory {
	background-color: white;
	box-shadow: inset 0 0 30px olivedrab;
}

.inventory-wrap {
	box-shadow: inset 0 0 30px greenyellow;
}

.inventory-title {
	box-shadow: inset 0 0 30px green;
	font-size: 14px;
}

.inventory-items {
	box-shadow: inset 0 0 30px rebeccapurple;
}

.inventory-price {
	box-shadow: inset 0 0 30px green;
	font-size: 12px;
}

/* item list */

.list {
	overflow: scroll;
}

.list .item {
	box-shadow: inset 0 0 20px yellowgreen;
}

.list .item img {
}

.item .name {
	font-size: 9px;	
}

.item .count {
	font-size: 14px;
	box-shadow: inset 0 0 20px violet;
}